.NavCol {
    display: flex;
    flex-direction: column;
    gap: get-d(40px);
}

.NavCol_title {
    color: #d9d9d9;
    font-size: get-d(14px);
    font-weight: 500;
    line-height: 142.857%;

    opacity: 0.4;
}

.NavCol_list {
    display: flex;
    flex-direction: column;
    gap: get-d(26px);
}
