.Ready {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100lvh;
}

.Ready_title {
    text-align: center;
    font-size: get-d(100px);
}

.Ready_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}
