*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.privacy_disclaimer{
    padding-top: 190px;
    padding-bottom: 183px;
}
.privacy_disclaimer > div{
    max-width: 1188px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.privacy_disclaimer>div> h1 {
    font-size: 64px;
    font-weight: 400;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(179.8deg, #D3D5E5 0.17%, #AEB0C9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
}

.privacy_disclaimer>div>h2 {
    font-size: 40px;
    font-weight: 400;
    background: linear-gradient(179.8deg, #D3D5E5 0.17%, #AEB0C9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
}
.privacy_disclaimer>div>h3 {
    font-size: 24px;
    font-weight: 400;
    background: linear-gradient(179.8deg, #D3D5E5 0.17%, #AEB0C9 99.83%);
    -webkit-background-clip: text;
    color: transparent;
}
.privacy_disclaimer>div>p {
    font-size: 16px;
    font-weight: 400;
    color: #b0b4d7;
    opacity: 60%;
}

@media(max-width:1024px) {
    .privacy_disclaimer{
        padding-top: 190px;
        padding-bottom: 183px;
    }
    .privacy_disclaimer>div>h1 {
        font-size: 44px;
    }
    
    .privacy_disclaimer>div>h2 {
        font-size: 30px;
    }
    .privacy_disclaimer>div>h3 {
        font-size: 20px;
    }
    .privacy_disclaimer>div>p {
        font-size: 14px;
    }
}