.Textarea {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.Textarea_title {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #303031;
    font-size: 16px;

    span {
        color: #ff0b0b;
    }
}

.Textarea_input {
    height: 260px;
    padding: 18px;

    color: #303031;
    font-size: 16px;

    border-radius: 4px;
    border: 2px solid #000;
}
